@tailwind base;
@tailwind components;
@tailwind utilities;

.image {
  background-image: url("../../public/assets/Planet.webp");
  background-size: cover;
  background-position: top center;
}

.kmage {
  background-image: url("../../public/assets/space-background-realistic-starry-night-cosmos-shining-stars-milky-way-stardust-color-galaxy.jpg");
  background-size: cover;
  background-position: top center;
}

.img {
  background-image: url("../../public/assets/2151005492.jpg");
  background-size: cover;
  background-position: top;
  /* opacity: 0.7; */
}

body {
  background-color: black;
}

.grady {
  background: rgb(179, 56, 110);
  background: -moz-linear-gradient(
    0deg,
    rgba(179, 56, 110, 0.5551470588235294) 17%,
    rgba(255, 255, 255, 0) 68%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(179, 56, 110, 0.5551470588235294) 17%,
    rgba(255, 255, 255, 0) 68%
  );
  background: linear-gradient(
    0deg,
    rgba(179, 56, 110, 0.5551470588235294) 17%,
    rgba(255, 255, 255, 0) 68%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b3386e",endColorstr="#ffffff",GradientType=1);
}

li {
  list-style: none;
}

.gradient {
  background: rgb(97, 31, 107);
  background: radial-gradient(
    circle,
    rgba(97, 31, 107, 0.537) 0%,
    rgba(255, 255, 255, 0) 45%
  );
}

.gradient-two {
  background: rgb(9, 45, 118);
  background: radial-gradient(
    circle,
    rgba(9, 45, 118, 0.537) 0%,
    rgba(255, 255, 255, 0) 45%
  );
}

.gradient-three {
  background: rgb(179, 56, 110);
  background: radial-gradient(
    circle,
    rgba(179, 56, 109, 0.363) 0%,
    rgba(255, 255, 255, 0) 45%
  );
}

/* .gradient {
  background: rgb(179, 56, 110);
  background: radial-gradient(
    circle,
    rgb(179, 56, 110, 0.537) 0%,
    rgba(255, 255, 255, 0) 45%
  );
} */

/* .styled-h1 {
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  margin-top: 170px;
  letter-spacing: -2.4px;
  line-height: 52.8px;
} */

.rounde {
  border-radius: 10px !important;
}

.toto {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgb(0 0 0 / 95%) 10%,
    rgba(255, 255, 255, 0) 36%
  );
}

.bg-gradient {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0) 6%
  );
}

.boxes {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #e3b7ca 17.23%,
    #e2a8c1 42.04%,
    #d26d99 55.12%,
    #d15289 71.54%,
    #b3386e 100%
  );
}

.bt-gradient {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0) 6%
  );
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #1653cd 0.89%,
    #2255bc 17.23%,
    #86aaf4 42.04%,
    #d26d99 55.12%,
    #d15289 71.54%,
    #b43072 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
